[Unit]
Description=listening on port 3420 for GitHub repo push webhook

[Service]
ExecStart=/usr/bin/python /usr/share/nginx/html/tools/webhook-http-detector.py

[Install]
WantedBy=multi-user.target
