:root {
    --dark-background: #252934;
    --darker-background: #1B242F;
    --light-background: #ffffff;
    --highlight-color: #db1c52;
    --element-color: #66b2ff;
    --transparent-gray: rgba(255,255,255,.3);
    --offwhite-background: #dbdbdb;
}

* {
    box-sizing: border-box;
    transition: all .5s;
    font-family: 'Lato', sans-serif;
}

html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    display: block;
}

nav {
    position: absolute;
    bottom: -4em;
    left: 0;
    height: 4em;
    width: 100%;
    background: var(--darker-background);
    border-bottom: 3px solid var(--element-color);
    z-index: 1000;
}

nav.fixed {
    top: 0;
    left: 0;
}

/*********************************************************************************************************************/

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emphasize {
    color: var(--highlight-color) !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.active {
    color: var(--highlight-color) !important;
}

.fixed {
    position: fixed;
}

.sub-text {
    font-size: 0.9em;
}

.sub-text::before {
    content: '|';
    margin-right: 0.4em;
    color: var(--transparent-gray);
}

.sub-text::after {
    content: '|';
    margin-left: 0.4em;
    color: var(--transparent-gray);
}

/*********************************************************************************************************************/

.canvas {
    position: absolute;
    background: var(--dark-background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero-page {
    margin-bottom: 4em;
}

#hero-page .text {
    font-size: 3.5em;
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
    z-index: 1;
}

#hero-page button {
    cursor: pointer;
    color: white;
    background: 0 0;
    padding: .5em 1.3em .5em 1em;
    font-size: 1.7em;
    transition: all .5s;
    border: 2px solid white;
    z-index: 1;
}

#hero-page button:hover {
    background-color: var(--element-color);
    border-color: var(--element-color);
}

#hero-page button svg {
    margin-left: 0.9em;
    transition: transform .3s;
}

#hero-page button:hover svg {
    transform: rotate(90deg);
}

/*********************************************************************************************************************/

.nav-els {
    text-align: left;
    width: 100%;
    max-width: 1200px;
}

.nav-el {
    font-size: 1.2em;
    margin: 0 1em 0 1em;
    display: inline;
    color: var(--light-background);
    text-align: left;
    text-transform: uppercase;
}

/*********************************************************************************************************************/

#about {
    padding: 2em 2em 0 2em;
    max-width: 1400px;
    max-height: 100vh;
}

#about h2 {
    text-transform: uppercase;
    font-size: 1.4em;
}

#about h1 {
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 0.3em;
}

#about .column {
    margin-left: 3em;
    margin-right: 3em;
}

#about p {
    font-size: 1.05em;
}

#about-title {
    margin-bottom: 2em;
}

.about-list li {
    margin-bottom: 0.6em;
    font-size: 1.05em;
}

.about-list li strong {
    font-size: 1.05em;
}

.cards {
    flex-direction: row;
}

.card {
    width: 20vw;
    height: 64vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: 0.3s;
    margin-bottom: 2em;
}

.card li {
    font-size: 1.1em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.card-contents {
    padding: 2px 16px;
}

/*********************************************************************************************************************/

/* TODO: Finish this */

#timeline {
    background-color: var(--offwhite-background);
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--transparent-gray);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}