:root {
    --dark-background: #252934;
    --darker-background: #1B242F;
    --light-background: #ffffff;
    --highlight-color: #db1c52;
    --element-color: #66b2ff;
    --transparent-gray: rgba(255,255,255,.3);
    --offwhite-background: #dbdbdb;
}

* {
    box-sizing: border-box;
    transition: all .5s;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

section {
    position: relative;
    display: block;
    min-width: 100vw;
}

ul li ul {
    margin-bottom: 1.5rem;
}

/*********************************************************************************************************************/

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.is-secondary {
    color: var(--highlight-color);
}

.is-secondary-on-hover:hover {
    color: var(--highlight-color);
}

.is-tertiary {
    color: var(--element-color)
}

.is-tertiary-on-hover:hover {
    color: var(--element-color)
}

.emphasize {
    color: var(--highlight-color) !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.active {
    color: var(--highlight-color) !important;
}

.fixed {
    position: fixed;
}

.sub-text::before {
    content: '|';
    margin-right: 0.4rem;
    color: var(--transparent-gray);
}

.sub-text::after {
    content: '|';
    margin-left: 0.4rem;
    color: var(--transparent-gray);
}

.is-curved {
    border-radius: 12px;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

/*********************************************************************************************************************/

#hero-page {
    min-height: 100vh;
}

.canvas {
    position: absolute;
    background: var(--dark-background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero-page {
    margin-bottom: 4rem;
}

#hero-page .text {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    z-index: 1;
}

#hero-page button {
    cursor: pointer;
    color: white;
    background: 0 0;
    padding: .5rem 1.3rem .5rem 1rem;
    font-size: 1.7rem;
    transition: all .5s;
    border: 2px solid white;
    z-index: 1;
}

@media only screen and (max-width: 570px) {
    #hero-page .text {
        font-size: 2rem !important;
    }

    #hero-page button {
        font-size: 1.2rem;
    }
}

#hero-page button:hover {
    background-color: var(--element-color);
    border-color: var(--element-color);
}

#hero-page button svg {
    margin-left: 0.9rem;
    transition: transform .3s;
}

#hero-page button:hover svg {
    transform: rotate(90deg);
}

/*********************************************************************************************************************/

nav {
    position: absolute;
    bottom: -4rem;
    left: 0;
    height: 4rem;
    width: 100%;
    background: var(--darker-background);
    border-bottom: 3px solid var(--element-color);
    z-index: 100;
}

nav.fixed {
    top: 0;
    left: 0;
}

.nav-els {
    text-align: left;
    width: 100%;
    max-width: 1200px;
}

.nav-els > * {
    font-size: 1.2rem;
    margin: 0 1rem 0 1rem;
    display: inline;
    color: var(--light-background);
    text-align: left;
    text-transform: uppercase;
}

@media only screen and (max-width: 470px) {
    .nav-els > * {
        font-size: .6rem;
    }
}

/*********************************************************************************************************************/

#about {
    padding: 6rem 1.5rem 12rem 1.5rem;
    max-width: 1400px;
    background-color: var(--dark-background);
    color: white;
    transition: none;
}

#about h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

#about h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0.3rem;
}

#about p {
    font-size: 1.05rem;
}

/*********************************************************************************************************************/

#skills .container {
    z-index: 2;
    margin-top: -8rem;
}

#skills .column {
    margin-left: 1rem;
    margin-right: 1rem;
}

#skills .container {
    max-width: 80vw;
}

#skills strong {
    font-size: 1.1rem;
}

#skills p {
    margin-left: auto;
    margin-right: auto;
    min-height: 5rem;
    max-width: 20rem;
}

.svg-wrapper {
    min-width: 4rem;
    min-height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 780px) {
    #skills .column:first-child {
        border-bottom: 1px solid #E6ECF8;
    }

    #skills .column:last-child {
        border-top: 1px solid #E6ECF8;
    }
}

@media only screen and (min-width: 770px) {
    #skills .column:first-child {
        border-right: 1px solid #E6ECF8;
    }

    #skills .column:last-child {
        border-left: 1px solid #E6ECF8;
    }
}

#skills ul {
    list-style: none;
}

#skills strong {
    margin-bottom: 0.75rem;
}

#skills .box {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 0;
    margin-bottom: 4rem;
}

/*********************************************************************************************************************/

/* TODO: Finish this */

#timeline {
    background-color: whitesmoke;
    padding-top: 4rem;
}

#timeline strong {
    margin-bottom: 1rem;
}

#projects {
    min-height: 100vh;
}

.heading {
    font-size: 1.1rem;
}

.slideButton {
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;

    border: 1px solid #dbdbdb;
    text-align: center;
    border-radius: 3px;
}

.slideButton svg {
    transition: transform .3s;
    margin-left: 1rem;
}

.slideButton:hover svg {
    transform: rotate(90deg);
}

.slide-panel {
    border: 1px solid #dbdbdb;
    text-align: center;
    border-radius: 3px;

    padding: 5px;

    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

@media only screen and (max-width: 360px) {
    #timeline {
        font-size: 50%;
    }
}