/* General Styles */

html {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.section {
    height: calc(100% - 150px);
    width: 100%;
    padding: 75px 0;
}

.section-content {margin-top: 30px;}

.row {width: 100%;}

.col-1-2, .col-1-3, .col-full {
    float: left;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.col-full {width: 100%;}
.col-1-2 {width: 50%;}
.col-1-3 {width: 33.33333333333333%;}

.dummy {
    height: 100%;
}

h1 {
    padding: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 3.750em;
    font-weight: 900;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

h2 {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 2.250em;
    color: #222;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
}

h4 {
    font-size: 1em;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

hr {
    display: block;
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
}

/* Generic Class Styles */

.mainview {
    height: 100vh;
    width: 100vw;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container {
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 50vw;
}

/* Title Page Styles */

#firstview {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.52),
    rgba(0, 0, 0, 0.52)) , url("../resources/johannes-plenio-FZpCcPss9to-unsplash.jpg") no-repeat center;
}

#title-box {
    display: flex;
    flex-direction: column;
}

#title-box hr {
    margin-right: auto;
    margin-left: auto;
    width: 24em;
}

#current-position {
    margin: 0;
    padding: 0;
    font-size: 1.875em;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-transform: uppercase;
    color: white;
}

#title-box > * {
    padding: 15px;
}

/* About Me Styles */

#about-me hr {
    width: 19em;
}

#about-me h4 {
    margin-bottom: 1.5em;
    text-align: center;
}

#about-me p {
    margin-bottom: 0.8em;
    text-align: justify;
}

#about-me .col-1-2 {
    padding: 30px;
}