/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************************************************************************************/

html {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

p {
    overflow-wrap: break-spaces;
    text-align: justify;
}

h4 {
    font-size: 1em;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.page {
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 45vw;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.line {
    display: block;
    width: 23em;
    padding: 0 !important;
    background: rgba(165, 165, 165, 0.56);
    height: 3px;
}

.section-title {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 2.250em;
    font-weight: 300;

    text-transform: uppercase;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
}

.row {
    width: 100%;
}

.half-col {
    padding: 15px;
    box-sizing: border-box;
}

.half-col {
    width: 50.0%;
}

.section-content {
    margin-top: 30px;
    display: flex;
}

/*********************************************************************************************/

#image {
    float:top;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    filter: brightness(52%);
}

#title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#name {
    margin: 0;
    padding: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 3.750em;
    font-weight: 900;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

#current-position {
    position: relative;
    text-align: center;
    color: white;
    padding: 0.1em;
    font-size: 1.875em;
    letter-spacing: 0.1em;
    line-height: 1em;
}

/*********************************************************************************************/