.section {
    min-height: 100vh;
    padding: 3rem 1.5rem;
}

body {
    font-family: 'Lato', sans-serif !important;
}

/********************************************************************************************/

#intro {
    background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.60)), url("../../images/cpu.jpg")
    no-repeat
    center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.intro-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro .title {
    font-size: 86px;
    text-shadow: 0 0 20px rgba(0, 0, 0, .5);
    letter-spacing: -0.115rem;
    line-height: 1;
    font-family: Arial, sans-serif;
}

#intro h3 {
    color: cornflowerblue;
    font-size: 1.7rem;
    line-height: 1;
    letter-spacing: 0.076rem;
    text-transform: uppercase;
    font-weight: 700;
}

.intro-position {
    font-size: 1.3rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, .2);
    margin-bottom: 2rem;
}

.intro-position span::before {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: rgba(255, 255, 255, .3);
}

.intro-content p {
    line-height: 0.8rem;
}

.intro-position span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: rgba(255, 255, 255, .3);
}

#learn-more {
    cursor: pointer;
    color: white;
    line-height: 3.4rem;
    padding: 0 2.5rem 0 3rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    background: 0 0;
    border-color: cornflowerblue;
    transition: all .3s ease-in-out;
    margin-top: 1rem;
}

#learn-more:hover {
    background: cornflowerblue;
}

#learn-more svg {
    display: inline-block;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
    left: 1.2rem;
    padding-top: 5px;
}

#intro .intro-content .social-connections {
    font-size: 3rem;
    margin-top: 3rem;
}

.social-connections a {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.social-connections a:hover {
    color: cornflowerblue;
    transition: all .3s ease-in-out;
}

/********************************************************************************************/

#about {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#about .title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

#about .header-intro {
    margin-bottom: 5rem;
}

#about .header-intro h5 {
    color: cornflowerblue;
    font-size: 1.1rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
}

#about .header-intro h6 {
    font-size: 2rem;
    margin-bottom: 1em;
}

#about ul {
    list-style: none;
}

#about ul li {
    margin-bottom: .6rem;
}

#about .my-skills ul {
    margin-left: 3rem;
    list-style: disc;
}

/********************************************************************************************/

#experience {
    background-color: #f5f5f5;
}

#experience-header {
    margin-bottom: 3rem;
}

#experience h5 {
    color: cornflowerblue;
    font-size: 1.1rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
}

#experience h6 {
    font-size: 2rem;
    margin-bottom: 1em;
}
