section {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.white {
    background-color: white;
    color: white;
}

.red {
    background-color: #ca3639;
    color: #ca3639;
}

.fill-40 {
    width: 40vw;
    height: 100vh;
}

.fill-60 {
    width: 60vw;
    height: 100vh;
}

#title-page h1 {
    font-size: 18rem;
    position: absolute;
    text-transform: uppercase;
}

.first-name {
    color: #ca3639;
}

.last-name {
    color: white;
}