section {
    height: 100vh;
    width: 100vw;
}

#title-page {
    background: linear-gradient(90deg, #FFFFFF 40%, #ca3639 0%);
}

#first-name {
    color: #ca3639;
    font-size: 80px;
}

#second-name {
    color: white;
}